.about {
    margin-bottom: 126px;
}

.about .container {
    position: relative;
    display: flex;
}

.about__photo {
    position: absolute;
    width: 488px;
    min-height: 500px;
    border-radius: 4px;
    overflow: hidden;
    z-index: 0;
}

.about__photo-img {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.about__info {
    position: relative;
    width: 780px;
    margin-left: auto;
    margin-top: 107px;
    padding: 68px 96px;
    background-color: #202123;
    border-radius: 4px;
    z-index: 10;
}

.about__title {
    margin-bottom: 26px;
}

.about__text {
    margin-bottom: 41px;
    line-height: 1.7em;
}