.banks-services {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 34px;
}

.banks-services__text {
    flex-shrink: 0;
    margin-right: 18px;
    padding-left: 28px;
}

.banks-services__list {
    flex: 1;
}

.banks-services__item .tag__item{
    background-color: #e6e6e6;
}

.banks-services__item .tag__item:hover {
    cursor: pointer;
}

.banks-services__radio:checked ~ .tag__item {
    background-color: #c7e9d0;
}

.banks-services__radio {
    display: none;
}