.cards {
    display: flex;
    justify-content: space-between;
}

.cards__card {
    width: calc(100% / 3 - 18px);
}

.card {
    position: relative;
    padding: 50px 28px 30px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    color: #010001;
}

.card__circle {
    width: 285px;
    height: 285px;
    border-radius: 50%;
    position: absolute;
    top: -123px;
    right: -93px;
    z-index: 10;
}

.card__circle_bg_grey {
    background-color: #a5a5a4;
}

.card__circle_bg_blue {
    background-color: #556180;
}

.card__circle_bg_green {
    background-color: #978455;
}

.card__photo {
    position: relative;
    text-align: center;
    margin-bottom: 64px;
    z-index: 20;
}

.card__photo-img {
    display: inline-block;
}

.card__title {
    margin-bottom: 16px;
}

.card__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.card__service {
    margin-right: 28px;
}

.card__service:last-child {
    margin-right: 0;
}

.card__info-title {
    font-size: 36px;
}

.card__service-title_small {
    font-size: 30px;
}

.card__info-subtitle {
    color: #333;
    line-height: 1.35em;
}

.card__button {
    text-align: center;
}

