.footer {
    padding-bottom: 45px;
}

.footer:before {
    content: '';
    display: block;
    height: 1px;
    width: 1140px;
    margin: 0 auto;
    background-color: #353538;
    margin-bottom: 45px;
}

.footer .container {
    position: relative;
    display: flex;
    align-items: center;
}