.form-review {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    color: #202123;
}

.form-review__input, .form-review__textarea {
    outline: none;
    border: 2px solid #fff;
    padding: 15px 24px;
    border-radius: 4px;
}

.form-review__input {
    width: calc(100%/2 - 15px);
    margin-bottom: 28px;
}

.form-review__textarea {
    width: 100%;
    resize: none;
    margin-bottom: 15px;
    padding: 21px 24px;
}

.form-review__input:focus,.form-review__textarea:focus {
    background-color: #f4f5f5;
}

.forw-review__buttons {
    margin-left: auto;
}

.forw-review__button {
    padding: 16px 42px;
    background-color: #8d8d8d;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    margin-right: 12px;
    transition: all .3s ease;
}

.forw-review__button:last-child {
    margin-right: 0;
}

.forw-review__button:hover {
    cursor: pointer;
    background-color: #29292c;
}