.logo {
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.logo__img {
    margin-right: 9px;
}

.logo__title {
    font-family: 'Montserrat', sans-serif;
}

.logo__dot {
    color: #dfb56d;
}