.onlinebank {
    background-color: #e5c288;
    min-height: 360px;
}

.onlinebank .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.onlinebank__title {
    font-size: 48px;
    font-weight: bold;
    width: 440px;
    color: #202123;
    line-height: 1.15em;
    padding: 35px 0;
}

.onlinebank__photo {
    width: 427px;
    height: 360px;
    overflow: hidden;
    margin-right: 101px;
}

.onlinebank__photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 13px;
}