.partners {
    background-color: #f4f5f5;
    padding: 82px 0 47px;
}

.partners__title {
    font-size: 48px;
    color: #202123;
    margin-bottom: 62px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partners__item {
    margin-bottom: 35px;
}

.partners__item:nth-child(4n) .partners__photo {
    justify-content: flex-end;
}

.partners__photo {
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
}

.partners__photo-img {
    filter: grayscale(100%);
    transition: all .3s ease;
}

.partners__photo-img:hover {
    filter: none;
}