.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: anim-on-up 1.1s forwards cubic-bezier(1,.39,.61,.65);
}

.preview__logo {
    width: 140px;
    max-height: 141px;
    margin-bottom: 9px;
}

.preview__title {
    margin-bottom: 52px;
}

@keyframes anim-on-up {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0);
    }

    65% { 
        transform: translateY(-15px);
    }

    75% {
        transform: translateY(0);
    }

    100% {
        opacity: 1;
    }
}