.social {
    display: flex;
    margin-left: 177px;
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    border-radius: 50%;
}

.social__link:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: url(../../img/icons/socials/css_sprites.png);
    opacity: 1;
    transition: opacity .3s;
    border-radius: 50%;
}

.social__link:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: url(../../img/icons/socials/css_sprites.png);
    opacity: 0;
    transition: opacity .3s;
    border-radius: 50%;
}

.social__link:hover::after {
    opacity: 0;
}

.social__link:hover:before {
    opacity: 1;
}

.social__link-telegram:after {
    background-position: -122px -10px;
}

.social__link-telegram:before {
    background-position: -122px -66px;
}

.social__link-vk:after {
    background-position: -66px -122px;
}

.social__link-vk:before {
    background-position: -10px -122px;
}

.social__link-face:after {
    background-position: -66px -10px;
}

.social__link-face:before {
    background-position: -10px -10px;
}

.social__link-inst:after {
    background-position: -66px -66px;
}

.social__link-inst:before {
    background-position: -10px -66px;
}